[2013-03-27 13:18] aviks opened #1 "Feature Request: Sentence tokenizer"
It would be nice to have a sentence tokenizer in this package.

[2013-04-28 06:18] benmarwick opened #2 "Feature Request: Part of speech tagging"
This would be great, the R packages are slow and haven't been updated for years...

[2013-09-06 07:15] tanmaykm opened #3 "Stemmer implementation"
The `stem!` method currently is a stub. It would be very useful to have a stemmer integrated.

What is the direction to be taken to add a stemmer? Would wrapping the snowball stemmer from http://snowball.tartarus.org/ be a good approach? What are the other good alternatives?

[2013-09-26 22:00] #3 closed, assigned to nobody

[2013-12-11 23:56] lejon opened #10 "Extra empty token in lexicon"
If I create a text file which consists of the string "1 2" (not including the quotes, my  lexicon always contains the "empty token" (""). Even if I try to remove the word "" it is still there. Is this the intended behaviour? It causes problems for me because in my LDA implementation I get the word "" in my topics.

Example:

$ cat docs/Sample1.txt
1 2
$ cat text_analysis_etoken.jl
using TextAnalys

[2014-01-27 05:19] ravindraharige opened #12 "Error 'using' TextAnalysis package"
After adding TextAnalysis package in Julia with
[code]
I am getting following error while using the package:
[code]

(On Mac OS X 10.9.1)

[2014-02-05 19:26] gilesc opened #13 "Incorporate AhoCorasick algorithm?"
I've written a Julia package containing the Aho-Corasick algorithm for fast multi-string searching:

https://github.com/gilesc/AhoCorasick.jl

I haven't yet submitted it as an independent package to Julia's METADATA, though. I was thinking that it might be better suited as a submodule in this TextAnalysis package than as its own package. If you're amenable, I'd be happy to write up a PR.

[2014-02-06 02:03] #13 closed, assigned to nobody

[2014-02-18 17:10] abhijithch opened #15 "Error with stem!(sd)"
I am trying the functions like ```remove_punctuation!()```,```remove_numbers!(sd)``` ```remove_pronouns!(sd)```,``` stem!(sd)``` etc, on version 0.3, which is generating the following error:

[code]

[2014-05-14 16:43] IainNZ opened #17 "[PackageEvaluator.jl] Your package TextAnalysis may have a testing issue."
*This issue is being filed by a script, but if you reply, I will see it.*

[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their test (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3).

The results of this script are used to generate a [packa

[2014-05-30 15:20] stevengj opened #18 "updated CharString semantics for Julia 0.3"
It seems likely that the `CharString` constructor will be changing in Julia 0.3 (JuliaLang/julia#7016), but it looks like there is an easy fix to make your code compatible with both Julia 0.2 and Julia 0.3.  Just change:

[code]

to use `utf8(r[1:i])`.   The intermediate construction of a `CharString` is not necessary even in Julia 0.2.

[2014-05-30 15:23] #18 closed, assigned to nobody

[2014-07-14 20:27] IainNZ opened #19 "[PkgEval] TextAnalysis may have a testing issue on Julia 0.3 (2014-07-14)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3). The results of this script are used to generate a [package listing](http://iainnz.github.io/packages.julialang.org/) enhanced with

[2014-08-02 00:03] IainNZ opened #20 "[PkgEval] TextAnalysis may have a testing issue on Julia 0.3 (2014-08-01)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-08-02 18:46] #20 closed, assigned to nobody

[2014-08-31 13:40] predictivematch opened #22 "`getindex` has no method matching getindex(::Corpus, ::Int64)"
Hi,

I am getting this error when attempting to create a DocumentTermMatrix from a corpus.  This can be replicated with the snippet below.

[code]

I'm using the latest 0.3v, is there anything i'm missing here?

[2014-08-31 23:35] #22 closed, assigned to nobody

[2014-10-06 10:37] ccsv opened #23 "Replacement function for list of stuff."
We need some kind of thing where you input a dictionary or list and have words get replaced. This is important for standardizing synonyms, dates, and contractions. I think code like this make it easier to tokenize stuff especially since you eliminate apostrophes.

In python had code that replace contractions using regex.

'''
    replacement_patterns = [
        (r'(?i)won\'t', 'will not'),

[2014-10-10 08:23] ssagaert opened #24 "error creating document matrix"
this code (on julia v0.3 on Ubuntu 14.04):

using TextAnalysis

sd=StringDocument("dit is een test of dit, of dat kan werken met Nederlandse documenten.")
sd2=StringDocument("mooie badkamer met bad, douche en WC")

cp=Corpus({sd,sd2})

remove_punctuation!(cp)
remove_case!(cp)
remove_numbers!(cp)
remove_words!(cp,["de","het","een","en","of","geen","niet"])

update_lexicon!(cp)
dm=DocumentTermMatrix

[2014-10-10 12:17] ssagaert opened #25 "tf-idf buggy"
ERROR: `/` has no method matching /(::Int64, ::Array{Int64,2})
 in tf_idf at /home/steven/.julia/v0.3/TextAnalysis/src/tf_idf.jl:52
 in tf_idf at /home/steven/.julia/v0.3/TextAnalysis/src/tf_idf.jl:74

here is a correct version:

function tf_idf{T <: Real}(dtm::Matrix{T})
    n, p = size(dtm)

    # TF tells us what proportion of a document is defined by a term
    tf = Array(Float64, n, p)
    #

[2014-11-24 20:34] timClicks opened #28 "word2vec via gensim?"
Would be nice to provide word2vec support within Julia. IMO its natural home would be here.

One way, and hopefully both the easiest and fastest, would be to interface with [`gensim`](http://radimrehurek.com/gensim/) via PyCall rather than to wrap the original C lib.

[2015-01-07 10:22] LeonardoReyes opened #29 "MethodError(getindex Error with corpus"
Hello,

I am fairly new but very enthusiastic about text mining in Julia. I have managed to some of the basics metrics in the introductory documentation, however I am running with lots of error messages now that I am trying to work with corpuses. Every time that I tried to standardize or run other commands I get this message:

    MethodError(getindex,(A Corpus,1))

Probably is something straightf

[2015-01-07 16:35] johnmyleswhite commented on #29
Unfortunately, this package is best thought of as "temporarily deprecated" until I have more time to work on it. Until then, the best way to solve problems is to slog through reading the source code.

[2015-03-21 05:31] kuitang opened #30 "Update http://pkg.julialang.org version to current commit"
I am currently using the version on http://pkg.julialang.org which is at commit f022c37fbf1be8b5414a962ece186d6971e53b10.

There are several new features in the current (prepare and implementation of remove_words without regexes) commit that I, and certainly others, would like to use.

[2015-03-25 17:24] johnmyleswhite commented on #30
If the newer version that you'd like to use passes tests, you could submit a pull request to METADATA to release the version you'd like to use.

[2015-05-11 11:41] aviks commented on #30
Unfortunately, users without access to the underlying repository cannot do a Pkg.publish() to create a METADATA PR. I've created one the old fashioned way: https://github.com/JuliaLang/METADATA.jl/pull/2576

[2015-05-11 12:08] aviks commented on #3
For the record, @mguzmann 's porter stemmer is now at : https://github.com/mguzmann/CorpusTools/blob/master/src/PortStemmer.jl

It would certainly be an interesting project to port the stemmers. It may be reasonable to write snowball generators for the stemmers.. that will give us all stemmers at once.  But I think getting good performance out Julia stemmers is going to be a problem.

The snowball

[2015-05-11 12:10] aviks commented on #29
@LeonardoReyes its been a while, but can you tell us if there a stacktrace? And what exact methods (and inputs) you were trying to run?

[2015-05-11 12:14] aviks commented on #25
I believe this has been fixed by https://github.com/johnmyleswhite/TextAnalysis.jl/commit/d40a74e48fc1822d22b128af0bd76e0c27ec10c1

While the fix is before the date of this issue, this hadn't been tagged in a new version.

[2015-05-11 12:26] mguzmann commented on #3
If there is any interest for it I could port the rest of the stemmers, I just wasn't sure people would be interested.

[2015-05-11 15:10] aviks commented on #12
Yes, this looks  fixed, and can be closed.

[2015-05-11 15:12] aviks commented on #15
This issue can be closed, I think. I can confirm that the stemmer works as expected. The error message is also clear.

[2015-05-15 01:14] aviks commented on #30
This is now fixed, and can be closed.

[2015-05-17 18:38] #24 closed

[2015-05-17 18:45] #30 closed

[2015-05-17 18:45] #25 closed

[2015-05-17 18:46] aviks commented on #25
This is fixed in `v0.0.2`

[2015-05-17 18:47] #12 closed

[2015-05-19 08:17] aviks commented on #29
This is likely fixed by #32. Please reopen if you are still having errors.

[2015-05-19 08:17] #29 closed

[2015-08-20 17:02] #15 closed

[2015-08-20 17:02] #17 closed

[2015-08-20 17:21] dellison commented on #10
For what it's worth, I wasn't able to reproduce this issue.

[2015-09-18 08:13] sanjanasri opened #35 "Hi,"
Hey,

[code]

 `2015-09-18 11:54:25--  http://snowball.tartarus.org/dist/snowball_code.tgz
Resolving snowball.tartarus.org (snowball.tartarus.org)... 80.252.125.10
Connecting to snowball.tartarus.org (snowball.tartarus.org)|80.252.125.10|:80... connected.
HTTP request sent, awaiting response... Read error (Connection reset by peer) in headers.`

So I downloaded .tar.gz file, extracted its contents

[2015-09-19 09:54] sanjanasri commented on #35
ALso How should I convert a filedocument to a string document .I did something like this,

[code]
The samplefile seems like

[code]
The output of string(length(crps1)) gives 1 instead of three resulting 1Xm vector in document term matrix instead of a matrix
Please help. Where  I went wrong

[2015-10-10 04:10] gabrielelanaro opened #37 "error on LDA Julia 0.4"
Hi I was trying to use the lsa function but it gives an error because svd doesn't seem to support sparse matrices

[code]

ERROR: `svdfact` has no method matching svdfact(::SparseMatrixCSC{Float64,Int64})

[2015-10-19 10:00] ccsv commented on #28
@timClicks There are some tradeoffs from the C version and the `gensim` version. You can see them in Radim Řehůřek presentation:

https://www.youtube.com/watch?v=vU4TlwZzTfU

The `gensim` version is suppose to be optimize using Cython + BLAS + Sigmoid table for non distributed this is very good better than the C version.

However when you start using multiple threads, the `gensim` version will tak

[2016-09-02 02:14] abieler opened #39 "remove_patterns! not exported"
Is there a reason why ```remove_patterns!``` is not exported?

[2016-09-02 17:08] aviks commented on #39
Not particularly. Could you submit a PR? Thanks!

[2016-09-02 18:03] abieler opened #41 "remove_corrupt_utf8() not working"
The function `remove_corrupt_utf8()` does not work under Julia v0.4.6.
The problem is the line `zeros(Char, endof(s)+1)` where it complains that
zero is not defined for type Char. When using UInt8 instead I could make it
run without error, but please check if this does what it is supposed to do.

[code]

Note that on the return statement I got rid of the  `CharString()` too.

If this is ok I can m

[2016-09-03 22:48] aviks commented on #39
Fixed by #40 Thanks @abieler

[2016-09-03 22:48] #39 closed

[2016-09-03 23:01] aviks commented on #41
Sure, thanks. Looks OK. Note that `utf8` is deprecated in 0.5, you'll need to use `Compat.UTF8String`. I've just fixed all the other deprecations on 0.5.

[2016-09-14 21:01] #19 closed

[2016-09-25 13:13] pmargreff opened #42 "Error on 0.5 Julia"
After the update I have the follow error:

[code]

[2016-09-29 00:41] #42 closed

[2016-09-29 00:43] pmargreff opened #43 "Using prepare"
I can't using `prepare!` and another functions are deprecated, could someone update the documentation?

[2016-10-08 11:57] abieler commented on #41
So in 0.5 I had to adapt further, due to

```chr != 0xfffd``` being deprecated, however when doing
```UInt8(chr) != 0xfffd``` there are ```InexactError()``` if the
character does not fit in UInt8, so I did try-catch.

Further not sure if the index stepping with ```i+1``` was OK before,
so put in ```nextind(s,i)```

[code]

Seems reasonable?

[2016-10-08 12:13] abieler commented on #43
What Julia version are you using? I do not get any warnings on v0.5 when using something like
[code]

where txt is a string in memory.

[2016-10-08 12:15] pmargreff commented on #43
Version 0.5.0 (2016-09-19 18:14 UTC) - x86_64-linux-gnu

[2016-10-08 12:22] abieler commented on #43
Does this work?

[code]

I do not get any warning for this.. Or can you provide code that gets warnings?

[2016-10-09 10:43] aviks commented on #41
Not all unicode characters will fit in an UInt8. This line above will loose all non-ascii characters from the string, I think.

I'd use something like this:

[code]

Are there any tests for this?

[2016-10-09 11:13] abieler opened #45 "docs as cols or rows in dtm"
Is there a reason why documents are represented as rows in the dtm?
--> dtm is a (nDocs x nFeatures) sized matrix.
having docs as columns would computationally be more efficient, right?

[2016-10-11 15:45] rogerwhitney opened #46 "Problem creating a Corpus"
I am still a bit new to Julia so perhaps I am missing something basic here. When I try to create a Corpus following the example in the documentation (after correcting for the change in syntax) using:

Corpus([StringDocument("Document 1"), StringDocument("Document 2")])

I get the error:

MethodError: Cannot `convert` an object of type Array{TextAnalysis.StringDocument,1} to an object of type TextA

[2016-10-11 16:20] rogerwhitney commented on #46
I should have waited a bit before creating the issue. I see the syntax is

Corpus(Any[StringDocument("Document 1"), StringDocument("Document 2")])

[2016-10-11 17:44] aviks commented on #46
Yes, actually, the way you wrote the code originally should be possible, needs an additional constructor.  I'll fix this soon, but for now you have the correct workaround.

[2016-12-13 19:36] montyvesselinov opened #48 "grobid"
Do you plan to add grobid interface?

Are you aware of of julia package that works with grobid?

[2016-12-15 01:00] aviks commented on #48
Not really. Should be reasonably simple to interface via JavaCall.

[2017-01-04 03:31] stevengj opened #50 "needs update for string.data changes"
After JuliaLang/julia#19449, soon to be merged for Julia 0.6, you will no longer be able to access the raw bytes of a string via `string.data`; instead, do `Vector{UInt8}(string)`.  For `length(string.data)`, just do `sizeof(string)`.  For example, this affects:

https://github.com/johnmyleswhite/TextAnalysis.jl/blob/4e6c7702726508a208dc150e6d1e21a4417741ff/src/preprocessing.jl#L303

[2017-01-11 03:41] alvations opened #52 "Missing package versions for DataFrames during installation"
From a fresh installation of julia on Ubuntu 14.04.5 LTS and TextAnalysis package, I'm receiving the following error with `Pkg.add("TextAnalysis")`

[code]

[2017-01-11 09:30] aviks commented on #52
Julia version `0.2.1` is ancient and certainly not supported any more. You will not be able to do much with that old a release. Please use the current released version `0.5`.

The best way to get that version is to download the generic linux binaries from http://julialang.org/downloads/

[2017-01-11 09:30] #52 closed

[2017-01-11 10:00] alvations commented on #52
Thanks for the note! I'm not sure how Julia package installation works but is there a way like how python `pip` checks for the requirements.txt before installation and throws an error that says that the Julia version is not high enough?

[2017-04-27 19:58] grassdew opened #55 "Generate top words for each topic"
I'm using the LDA module and wondering if it's possible to generate top words within each topic.

[2017-07-04 22:55] aviks opened #56 "Enable attobot on this repo"
@johnmyleswhite  this one please as well?

https://github.com/apps/attobot

[2017-07-07 13:44] aviks commented on #56
Ping?

[2017-07-08 13:29] aviks commented on #50
Fixed by https://github.com/johnmyleswhite/TextAnalysis.jl/commit/5a77614ca4a50c98095f9032463534d0f78f724d

[2017-07-08 13:29] #50 closed

[2017-07-16 01:04] maurolopes commented on #43
I have this same problem. Curiously, it works with `strip_case` but fails for all other similar functions. See:

[code]
[code]
The error message is identical for `strip_numbers`, `strip_non_letters`, etc.
What am I doing wrong?

[2017-07-17 02:27] maurolopes commented on #43
Ah, after running `Pkg.update()` everything works fine now. Sorry for the noise.

[2017-07-17 10:11] #43 closed

[2017-07-17 11:38] aviks commented on #43
Yes, thanks, I tagged a new version last night. Sorry for the trouble, this had been fixed on master for a while, but hadn't tagged it.

[2017-07-28 20:02] mirestrepo commented on #41
Are there any updates/resolutions on this?

[2017-08-20 21:36] aviks commented on #56
@johnmyleswhite sorry to bother again, but can you add attobot and femtocleaner to this repo please?

[2017-08-23 01:43] sambitdash commented on #28
`Word2Vec` should be made native to `TextAnalysis` like LSA and LDA. `Word2Vec` is already available as an independent modules. But the expectation is the whole blob of text should be provided to `Word2Vec`. With the corpus interface there may be a much better interface for `Word2Vec`.

[2017-08-23 01:53] sambitdash opened #57 "Should have a pluggable stemmer interface"
Julia should have a pluggable stemmer interface supporting pos tagging or at least lemmtizer support like "Wordnet"

Native Julia porter2 stemmer is already available at: https://github.com/mguzmann/CorpusTools/blob/master/src/PortStemmer.jl

[2017-08-23 18:21] aviks commented on #57
That code is presumably only English, we use Snowball C which supports many languages. It way be worthwhile to contribute a pure julia back end to Snowball, rather than writing a stemmer by hand.

[2017-08-23 18:23] aviks commented on #28
Yeah, happy to take PR's to that effect. I generally use Word2Vec separately, but I agree it would be nice to have a combined interface.

[2017-08-24 08:43] sambitdash commented on #57
Yes. That one is English only. I was interested in a multiple stemmer support as in NLTK which you can plug-in. A lemmatizer like Wordnet will be a good value add. I was not in the opinion that we move out of Snowball.

[2017-08-28 00:23] #56 closed

[2017-09-07 19:02] aviks commented on #57
A Wordnet based stemmer should be relatively easy to do based on https://github.com/jbn/WordNet.jl

[2017-10-08 23:10] ksteimel commented on #1
Do tokenization tools still need work? I would love to help.

[2017-10-08 23:27] ksteimel opened #59 "Ngram dictionary constructor in Readme does not work"
The ngram document constructor for the dictionary of n-grams does not work correctly in Julia 0.5. This appears to be due to the change in Dictionary creation syntax not anything wrong with the classes themselves.

[2017-10-09 09:19] aviks commented on #1
Yes. An implementation of a sentence tokenisation (maybe Punkt?) would be much appreciated.

[2017-10-11 02:40] ksteimel commented on #1
Okay cool. I'm working on that. Can I be added as a collaborator?

I will first implement punkt's approach. I'd also like to use the Universal Dependency Treebank to train a supervised model for sentence splitting. I'm uncertain how sentence tokenized documents should fit into the document classes that are currently used. Any of the document types could be sentence split but I don't know if introd

[2017-10-11 02:45] ksteimel commented on #35
Where is crps1 coming from?

[2017-10-12 14:30] aviks commented on #1
Maybe a single `SentencesDocument`

[2017-10-16 12:57] attobot opened #60 "Error tagging new release"
The URL of this package does not match that stored in METADATA.jl.
cc: @aviks

[2017-10-16 13:46] #60 closed

[2017-10-28 23:22] mariosangiorgio opened #62 "remove_corrupt_utf8 seems to want code from an old version of Julia"
The first time I executed it I got the following error:
[code]
I'm using Julia 0.6 and I don't have any definition of `zero(:Type{Char})`. I'm not sure if `Char` used to be a `Number` and it got `zero` from there or if I'm missing to import something.

In any case, if I define it
[code]
I then get
[code]
and [this](https://github.com/stevengj/julia/blob/ce40f8949518102941a73e4488eb62fa49b2fdd1/bas

[2017-10-30 01:15] bevankoopman opened #63 "LDA does not return P(z|d) - distribution over topics given document"
First, thanks for producing a Julia implementation of LDA.

The implementation current returns P(w|z) - the distribution over words w for the set of topic z. However, it currently does not return the other distribution P(z|d) - the distribution over topics z for each document d.

It would be great if this could be included.

Thanks.

[2017-10-30 01:16] aviks commented on #62
Looks like a bug, will fix soon.

[2017-10-30 02:27] aviks commented on #62
Fix in PR #64

[2017-10-30 14:02] #62 closed

[2017-10-30 14:05] aviks commented on #63
cc: @yukota

[2017-10-30 14:06] aviks commented on #59
Do you have a line of example code that shows the error ?

[2017-10-30 14:33] ksteimel commented on #59
The line that says

`my_ngrams = (UTF8String => Int)["To" => 1, "be" => 2,
                                "or" => 1, "not" => 1,
                                "to" => 1, "be..." => 1]`

Should be
`my_ngrams = Dict{String, Int}("To" => 1, "be" => 2,
                                       "or" => 1, "not" => 1,
                                       "to" => 1, "be..." => 1)`

Due to the new synta

[2017-11-17 15:28] #59 closed

[2018-01-16 18:51] emilemathieu commented on #46
An additional constructor would indeed be useful.
A workaround is using the following syntax `Corpus(Any[array_of_documents...])`.

[2018-01-16 19:00] emilemathieu opened #67 "Preprocessing function issue"
Hi all ! Thanks for this nice package :)

The preprocessing function `prepare!(::TextAnalysis.Corpus, ::UInt32)` does not work (on my machine) because of the `stem!` function.
I get the following error
[code]

Best,
Emile

[2018-01-17 12:10] #67 closed

[2018-02-04 22:52] tk3369 opened #68 "remove_corrupt_utf8! giving "no method matching zero" error"
This seems to be strange error.  I looked up preprocessing.jl file but I could not find any reference to `zero` function.  Instead, the code clearly uses `zeros`.   Is it some kind of compatibility/installation issue?

https://github.com/JuliaText/TextAnalysis.jl/blob/v0.2.1/src/preprocessing.jl#L46

How to reproduce:

[code]

[2018-02-04 23:03] aviks commented on #68
This was fixed in #64, but I haven't tagged a release since.

[2018-02-05 01:09] tk3369 opened #69 "stemming issue for certain words e.g. providing -> provid"
Some words are not converted properly.  Probably a libstemmer issue but that repo doesn't seem to be active so I'm posting here :-)

[code]

[2018-02-05 11:39] aviks commented on #69
Not sure what we can do about this. Everyone just seems to use the Snowball stemmer.

[2018-02-17 17:48] pazzo83 opened #71 "Restricting dtm/tf_idf creation to only the top N features from the lexicon"
I am working with a corpus of 100k+ documents, so the number of features in the lexicon is extremely high.  Thus I'm running into memory issues and the like.  I know in scipy's TfidfVectorizer and similar approaches, you can limit the number of features such that you only are dealing with the top N features when working with the dtm and tf_idf matrices.  Is there some way to do that with this pack

[2018-02-18 20:12] aviks commented on #71
Not yet, but might be worth adding.

[2018-03-01 14:02] loleg opened #72 "Example should use MultivariateStats.jl"
https://github.com/JuliaStats/MultivariateStats.jl replaces https://github.com/JuliaStats/DimensionalityReduction.jl and the [Extended Usage example](https://github.com/JuliaText/TextAnalysis.jl#extended-usage-example) should be corrected, as it no longer works on newer versions of Julia.

[2018-03-01 14:47] aviks commented on #72
Thanks. Would you do a PR?

[2018-03-06 13:51] loleg commented on #72
@aviks possibly - I started doing some further testing last weekend [in here](https://github.com/loleg/raplocal/tree/master/analysis), but don't have a working replacement yet.

[2018-03-29 07:32] NapsterSL opened #73 "Unable to train new pattern for models"
Hi,

I am new to Grobid Tool. I need to train some new patterns for citation model. Build is successful, while trying to train, giving exception:
![issue](https://user-images.githubusercontent.com/37894927/38075737-0be28da2-3351-11e8-9d3b-c5886b6430f5.png)

java.lang.unsatisfiedlinkerror, cudnt resolve this issue. I am using win-64.

[2018-03-29 09:10] aviks commented on #73
Did you mean to raise this issue is some other repository? The GrobId repository is here: https://github.com/kermitt2/grobid

[2018-03-29 09:10] #73 closed

[2018-03-29 09:15] NapsterSL commented on #73
Ok...Yes. Thank U!

[2018-04-06 15:30] enkiv2 opened #74 "remove_words! fails for long terms & terms with punctuation"
Because remove_words! uses regex matching even for string input, it fails on actually-present terms if those terms are larger than the maximum pattern size accepted by PCRE. Actually-present terms also fail if they contain regex-like punctuation. This produces an error message that doesn't specify the failed pattern, and furthermore aborts remove_words! entirely.

The same problem occurs in remove

[2018-04-08 15:54] aviks commented on #74
Might be a good idea. Will need some thought on how to deprecate the existing behaviour. Care to do a PR?

[2018-04-11 19:28] enkiv2 commented on #74
Well, I have a naive solution that works for StringDocument; unfortunately, it has major performance problems. Should I submit a PR or wait until I've figured out how to get reasonable performance out of it?

[2018-06-11 15:24] aviks commented on #74
I'd say submit a PR. We can figure out performance later. Slow code is better than no code.

[2018-06-11 15:47] enkiv2 commented on #74
PR: https://github.com/JuliaText/TextAnalysis.jl/pull/76

Because of string copying overhead, for situations big enough for the regex size to matter, it's unusably slow. However, in the absence of reliable regex escaping, this has reliability benefits.

[2018-06-19 08:02] meyerd opened #78 "Snowball Stemmer outdated"
Hi,

yesterday I tried to install the package and it failed, because the website snowball.tartarus.org was down. The admin there kindly fixed the issue but pointed out, that the version there is outdated and the follow up project at http://snowballstem.org should be used.

Cheers.

[2018-08-06 13:51] AsafManela opened #82 "Need to update deps/build.jl with the correct hash code for sentiment.tar.gz"
From travis-ci:
[code]

[2018-08-07 14:59] AsafManela commented on #82
Fixed by 26e94ff

[2018-08-07 14:59] #82 closed

[2018-08-12 19:51] aviks commented on #82
Sorry for the faulty release!

[2018-08-13 10:59] schottmueller opened #83 "unknown words lead to error in sentiment analysis"
[code]
leads to
``ERROR: KeyError: key "nonSense" not found``
I am not familiar with sentiment analysis but is it impossible to simply ignore words that do not have a value assigned?

[2018-08-13 13:47] aviks commented on #83
I've debated (mostly in my own mind) how to handle this error. On one hand, if the training dictionary is very different from your prediction corpus, you would want to know, since the accuracy would be bad if they are very different. On the other hand, if you are running this in production on user supplied data, you would not want to crash the runtime every time someone mistypes some text.

So not

[2018-08-13 15:42] schottmueller commented on #83
I agree that one would like to know whether the prediction corpus fits the training data but demanding 100% overlap seems excessive (typos, names numbers etc.). Ideally, the output would be a score and an accuracy measure. A simpler alternative might be a Boolean kwarg to switch between current behavior and a behavior where words outside the training dictionary are ignored. (Unfortunately, I do no

[2018-08-14 11:51] ayush1999 opened #84 "Better sentiment analysis model"
The current sentiment analysis model isn't very good, and needs to be changed (as discussed with @aviks ). Also, following the discussion in #83 , it'd be better to warn the user before skipping works not in vocabulary.

[2018-08-15 07:34] baggepinnen opened #85 "broadcast behavior of Corpus"
I would argue that the following is unintuitive, and would like for broadcasted functions over a corpus to return an array with the result of the function applied to each document in the corpus. If this is deemed a good idea, I would be willing to submit a PR if desired.
[code]

[2018-08-15 11:44] emilmirzayev opened #87 "Error while using the package for the first time"
Hi,
when using the package I receive these error messages and dozen of warnings:
`using TextAnalysis`
....................................
`ERROR: LoadError: LoadError: UndefVarError: SimpleVector not defined.`
`ERROR: LoadError: LoadError: Failed to precompile BSON [fbb218c0-5317-5bc6-957e-2ee96dd4b1f0] to C:\Users\emirzayev\.julia\compiled\v0.7\BSON\3tVCZ.ji.`
`ERROR: Failed to precompile TextAn

[2018-08-15 12:59] baggepinnen opened #88 "Documentation to reflect deprications"
The documentation does not reflect the deprecations of `remove_xxx!()` functions. These functions also use a nonstandard deprecation mechanism which makes it hard for users to understand how to transition to the new API. Consider using `@deprecate`.

[2018-08-16 23:00] aviks commented on #87
Unfortunately, this package is not yet ready for 0.7/1.0.

[2018-08-16 23:01] aviks commented on #85
👍

[2018-08-16 23:01] aviks commented on #88
Good idea.

[2018-08-27 19:14] AsafManela opened #92 "strip_non_letters corrupts document text"
There is a problem with the indexing into strings / substrings in remove_patterns when given the TextAnalysis.strip_non_letters regex.

Minimal example:

`julia> using TextAnalysis`

This one works:
[code]

But this one corrupts the text:
[code]

My environment from versioninfo()
Julia Version 0.6.4
Commit 9d11f62bcb (2018-07-09 19:09 UTC)
Platform Info:
  OS: Linux (x86_64-linux-gnu)
  CPU: Intel

[2018-08-28 09:15] baggepinnen opened #93 "Several non-defined symbols exported"
These symbols are exported but never defined anywhere
`export remove_punctuation, remove_numbers,, remove_whitespace`

[2018-08-30 17:39] #92 closed

[2018-09-20 19:34] mikesafar opened #100 "prepare! strip_whitespace should trim the document text at the ends"
prepare!(doc, strip_whitespace) does not trim the whitespace from the end of the text.   In my view it's not just multi-whitespace characters, but also whitespace characters at the end that need to be trimmed out.

It's a small issue, but that assumption on my part led a big cascade of bugs downstream!   Easily fixed with a replace(text, r"(^\s+)|(\s+$)", "") I know, but still....

[2018-09-20 19:34] mikesafar commented on #100
![image](https://user-images.githubusercontent.com/4051605/45842421-50db9a00-bce2-11e8-89d7-8dfb95e69f8e.png)

[2018-10-08 10:51] Paethon opened #103 "using TextAnalysis suddenly takes very long"
Hi

I have noticed that `using TextAnalysis` suddenly takes very long (and not just the first time for precompilation)

It hangs there without doing anything for about a minute and then says `loaded`. Any idea what could be causing this? Previously I did not have this problem.

[2018-10-08 11:18] zgornel commented on #103
it is probably `sentiment.jl`. Some benchmarks (`TextAnalysis` precompiled)
Without it:
[code]
with:
[code]

[2018-10-08 11:52] Paethon commented on #103
Is there a way to initialize the sentiment analysis stuff only when it is actually used? Seems to be a pretty heavy impact for something presumably only a fraction of people will use?

[2018-10-08 12:42] zgornel commented on #103
[Requires.jl](https://github.com/MikeInnes/Requires.jl) could be used to execute `include("sentiment.jl")` only when `Flux.jl`, `BSON.jl` etc are already loaded (not sure if it would work)
Alternatively, a simpler approach would be to fork, comment out the line that includes `sentiment.jl` and use the personal fork from then on, rebasing on `upstream:master` whenever the case.
It is still strange

[2018-10-08 13:10] Paethon commented on #103
Sure, for me personally I did just that, but I would think that the much longer load time is not what most other people want.

I am also not sure where this delay happens (Where is the `loaded` print coming from?). To me it seems like `sentiment.jl` is already loading the whole model when `TextAnalysis` is being imported (which I assume is not what was intended?)

[2018-10-08 13:19] zgornel commented on #103
Probably the model gets loaded at parse time as no calls are made to load the model ...

[2018-10-08 13:49] Paethon commented on #103
OK, I checked it further. The problem really is simply the `using Flux`

[2018-10-08 14:41] #103 closed

[2018-10-09 14:37] aviks opened #105 "Is it useful to do a JOSS paper on this package?"

[2018-11-12 14:49] MikeInnes opened #107 "Reversible Tokenisation"
@jekbradbury pointed me to this as the right way to to tokenisation – https://sjmielke.com/papers/tokenize/

Seems like a high-quality implementation could make things a lot simpler – no idea how hard it is to do as yet, but perhaps it can be a GSoC.

[2018-12-19 17:40] cchderrick commented on #100
What is the definition of `strip_whitespace`? Document didn't say. Here is what it does now, for example:
[code]
1. two spaces at the start of the string  => 0 space (good)
2. two spaces after the first sentence => 1 space (good)
3. two spaces at the end of the string => 1 space (*expected?*)
4. all single spaces between words => 1 space (good)

[2018-12-25 23:29] jaketothepast opened #109 "UndefVarError: Base.warn_once in deprecations.jl"
This appears to be an issue with 1.0 compatibility, but I attempted to run the following
[code]

A cursory search of the Julia 1.0 docs did not prove fruitful looking for a Base.warn_once method. I searched github for Base.warn_once fixes and saw usage of the `Compat.@warn` macro, maybe we could use that?

I'm brand new to Julia and wouldn't mind tackling this issue if possible!

[2018-12-27 14:05] cchderrick commented on #109
I think the proper way in 1.0 is ...
[code]
the `maxlog` control how many times it pops up, so in this case, it would be 1 for once.

[2019-01-04 19:44] aviks commented on #78
We new download a pre-built binary of the stemmer, so this is now fixed.

[2019-01-04 19:44] #78 closed

[2019-01-04 19:46] aviks commented on #109
Hi Jake, yes this is the codebase showing its age. It should be easy to fix, we'd welcome a PR.

[2019-01-04 19:49] aviks opened #111 "Move models to TextModels.jl"
Just documenting my intention here. Adding a Flux dependency to this project seems somewhat of an unpopular change. I plan to move the actual ML models to a new TextModels.jl package, and leave this package containing basic text processing functions

[2019-01-04 19:53] aviks commented on #87
Should be fine now.

[2019-01-04 19:53] #87 closed

[2019-01-05 00:12] jaketothepast commented on #109
Wonderful, I'll work on it this weekend. Thanks for the response!

[2019-01-05 00:15] aviks commented on #109
Thanks Jake, but Nick just made a this change in this #112

[2019-01-05 00:16] aviks commented on #109
Closed by #112

[2019-01-05 00:16] #109 closed

[2019-01-05 00:22] aviks commented on #35
Closing for lack of activity

[2019-01-05 00:22] #35 closed

[2019-01-05 21:32] laschuet commented on #46
This issue can be closed or am I missing something?

Running `Corpus([StringDocument("Document 1"), StringDocument("Document 2")])` in Julia 1.0.3 with latest `TextAnalysis` works and returns
[code]
The current documentation still mentions `Corpus(Any[StringDocument("")])` etc.

[2019-01-05 22:38] aviks commented on #46
Yes, the docs need changing, but the flexile constructor was implemented some time ago.

[2019-01-08 01:42] cchderrick opened #113 "strip_punctuation remove uppercase letters and numbers"
Strange...

[code]

[2019-01-08 09:53] nickto opened #114 "Russian stemmer is not working"
It seems that Russian stemmer is not working, although upstream Snowballstem is supposed to [support it](http://snowballstem.org/algorithms/russian/stemmer.html).

Reproducible example:
[code]

Tested in Julia 1.0 on Arch and 1.2 on OS X with TextAnalysis installed from GitHub.

I think this is related to that `name(language(d))` of `AbstractDocument` `d` results in `русский`, which is not underst

[2019-01-08 14:03] nickto commented on #114
I think I managed to fix this in #116.

[2019-01-10 13:32] cchderrick commented on #113
thanks for the pointer, I will try it out in the meantime

[2019-01-11 00:15] #114 closed

[2019-01-15 19:40] aviks commented on #84
Benchmarking our existing model against standard datasets would be good place to start.

[2019-01-15 19:48] aviks commented on #1
This has been done using WordTokenizers.jl

[2019-01-15 19:48] #1 closed

[2019-01-15 19:49] aviks commented on #10
Needs some tests, and closing if no longer a problem.

[2019-01-15 21:33] aviks opened #117 "Implement Named Entity Recognition (NER)"
*Papers*

"Neural Architectures for Named Entity Recognition" - https://arxiv.org/abs/1603.01360
"End-to-end Sequence Labeling via Bi-directional LSTM-CNNs-CRF" - https://arxiv.org/abs/1603.01354

[2019-01-15 21:41] npochhi commented on #117
Hi! I would like to work on this.

[2019-01-16 04:57] aquatiko commented on #72
@aviks I can't seem to find **Extended Usage Example** which needs fixing. Maybe the section is removed..

[2019-01-16 16:14] #46 closed

[2019-01-16 16:15] #10 closed

[2019-01-16 18:02] oxinabox commented on #88
This probably should not have [help-wanted].

It rather depends on having an  understanding of how the package has changed over time,
and also on a undocumented nonexported function of julia (`@deprecate`) which actually doesn’t really work right in julia 1.0.

You kinda want to know your way around the package and julia before doing this

[2019-01-16 18:13] oxinabox commented on #100
I think the defination of strip which space should be after it is run there wille be

 - No whitespace at the beginning or end of the document
 - exactly 1 white space between words
 - exactly 1 white space between sentences

[2019-01-18 14:31] aquatiko opened #122 "Proposing API tweak for sentiment analysis"
Regarding #83
Some changes to API will be:
https://github.com/JuliaText/TextAnalysis.jl/blob/bb81bc93b4210b0c04f212e5c5040a63c30e0612/src/sentiment.jl#L81
to
[code]
and
https://github.com/JuliaText/TextAnalysis.jl/blob/bb81bc93b4210b0c04f212e5c5040a63c30e0612/src/sentiment.jl#L38
to
[code]

Haven't tested the whole integration yet, just shows the major parts.

[2019-01-18 14:37] aviks commented on #72
Ah, that piece got dropped while reorganising the documentation. This is what it looked like. @aquatiko if you want to work on this, can you test the code, ensure it is working, and add it to a new file in the `docs/src` directory.

[code]

[2019-01-18 14:51] aviks commented on #122
On slack, suggestion from @oxinabox which is reasonable:

Instead of having a keyword argument as a dict, make it  a function that returns an iterator. The default value  of that function would be `(x)->[]` (ie, and empty array). In the `get_sentiment` function, when we encounter a missing word, call this function, and add whatever it returns to `res`.

Also, do  not print anything in this functio

[2019-01-20 13:56] surya2191997 commented on #117
HI @aviks , I have read the papers and am interested to work on this. Can you give some pointers on how to start?

[2019-01-21 15:33] #113 closed

[2019-01-24 13:24] #72 closed

[2019-01-31 10:01] oxinabox commented on #2
At a skim, yes, that looks like a good guide for writing a POS tagger.

[2019-02-04 14:41] loleg commented on #72
Thanks @aviks @aquatiko

[2019-02-18 20:12] #107 closed

[2019-02-28 21:53] mboedigh opened #129 "bug in function embedding from sentiment.jl"
The following code  seems to have a bug in that it reshapes a matrix in an apparent attempt to transpose:
[code]
I propose the following:
[code]

[code]

[2019-03-01 16:13] aviks commented on #129
Good catch, thanks.

[2019-03-02 16:44] aviks commented on #84
The latter, I would think. In any case, getting a good baseline+testcases would help in either case.

[2019-03-02 16:54] aviks commented on #129
On further consideration, this change causes the existing test to fail : https://github.com/JuliaText/TextAnalysis.jl/blob/59e0a70a628dff1dea9e1e94cf69978e7ecc6ef2/test/sentiment.jl#L8

Investigating...

[2019-03-04 17:26] mboedigh commented on #129
I believe there is a deeper problem in the word embedding. Bad words such as "hate" get good scores.
[code]
 I note that there are 88587 words in the dictionary
```length(s.model.words)```

but the lookup table has only 5000 entries
```size(s.model.weight[:embedding_1]["embedding_1"]["embeddings:0"],2)```

Invoking ```s(d_illegal)```, with `d_illegal` being any `StringDocument` containing a word m

[2019-03-04 19:46] Ayushk4 commented on #117
@oxinabox @aviks
I am working on implementing the second paper - "End-to-end Sequence Labeling via Bi-LSTM-CNNs-CRF"

I have obtained the CoNLL 2003 Dataset for language independent NER Tagging.
So far I have written the code for loading dataset and converting into tagging scheme of BIOES.

I am working on [this repository](https://github.com/Ayushk4/NER_Tagger) for the implementation.

I am curre

[2019-03-07 14:48] yash270200 opened #130 "Proposal for GSOC in sentiment analysis"
Hello @aviks ,
Sir I am strongly interested to work under NLP section in Flux projects and I was trying to find better models in for sentiment analysis. And currently I am trying to benchmark the existing model in TextAnalysis sentiment.jl with some of the deep learning models DCNN, Bidirectional LSTM-CNNs, RNTN netwoks.
Any suggestions would highly valuable for me.

[2019-03-12 12:01] #130 closed

[2019-03-12 14:40] Ayushk4 opened #132 "Feature : Dependency Parsing"
It would be nice to have support for Dependency Parsing in Julia. We can have it as a part of TextModels.jl as per #111.

If we go with Graph Based parser then we get accuracy for more time, however a Greedy one will be faster for little less accuracy.
Some possible implementations could be - [Deep Biaffine](https://arxiv.org/pdf/1611.01734v3.pdf), https://arxiv.org/pdf/1505.08075v1.pdf

[2019-03-12 17:39] dellison commented on #132
For what it's worth, I've recently registered [DependencyTrees.jl](https://github.com/dellison/DependencyTrees.jl). So far I've only implemented greedy transition-based transition algorithms, but I'm hoping to add support for graph-based methods soon. Maybe that could be helpful.

[2019-03-12 18:12] dellison commented on #132
Also- please feel free to open an issue over on DependencyTrees.jl if you have a feature request or a usage question or anything else like that! Anything that could help me improve it would be very welcome :)

[2019-03-14 19:41] ksteimel commented on #84
I have [a repository](https://github.com/ksteimel/SentimentBench) where I benchmarked the current system.

The performance is very poor at 52% accuracy (only slightly above random chance).

This may be related to issue #129

[2019-03-18 06:00] Shashi456 commented on #84
@aviks In issue #129, you said the proposed change breaks the test cases, would you suggest fixing the model or writing a new one from scratch?

[2019-03-18 14:22] #83 closed

[2019-03-18 14:22] #122 closed

[2019-03-20 12:19] Ayushk4 commented on #111
@aviks I want to work on issue #117  and Implement NER and POS tagger as a part of GSoC.
Here are my _**major**_ contributions so far - [WordTokenizers.jl/#13](https://github.com/JuliaText/WordTokenizers.jl/pull/13), [TextAnalysis/#134](https://github.com/JuliaText/TextAnalysis.jl/pull/134) and [CorpusLoaders.jl/#15](https://github.com/JuliaText/CorpusLoaders.jl/pull/15)

I would like to have your

[2019-03-24 21:32] aviks commented on #28
I think Word2Vec.jl provides the functionality we need. https://github.com/JuliaText/Word2Vec.jl

[2019-03-24 21:32] #28 closed

[2019-03-27 16:05] tanmaykm opened #136 "package precompiles every time it is loaded"
For some reason the cache file is detected as stale every time.

[code]
[code]

[2019-03-27 16:21] tanmaykm commented on #136
Seems to be because of this: https://github.com/JuliaText/TextAnalysis.jl/blob/02ab2cdbf0e02d90bbaa8797a4e02097bca21bc4/src/TextAnalysis.jl#L1

Any idea why TextAnalysis does that?

[2019-03-29 01:02] #136 closed

[2019-03-29 01:06] #93 closed

[2019-03-29 01:08] #100 closed

[2019-04-01 07:26] tanmaykm opened #139 "Can a new release be tagged?"
Can a new release be tagged? These seem useful to have: https://github.com/JuliaText/TextAnalysis.jl/pull/104 https://github.com/JuliaText/TextAnalysis.jl/pull/138

[2019-04-02 00:47] tanmaykm commented on #139
@aviks ?

[2019-04-02 00:49] aviks commented on #139
https://github.com/JuliaLang/METADATA.jl/pull/22601

[2019-04-02 00:49] #139 closed

[2019-04-09 22:22] asbisen opened #140 "Performance issue with prepare!( doc, strip_stopwords)"
Calling `prepare!(StringDocument, strip_case | strip_stopwords)` even on a small ~3.4MB file takes forever to return (other than for small strings I have not seen this function finishing successfully).

[code]

I have tracked the slowness to the following function.

https://github.com/JuliaText/TextAnalysis.jl/blob/c8ae7a217d19f19d8c8e3e22da9ea5970ece40d4/src/preprocessing.jl#L253

[code]

Manuall

[2019-04-09 22:58] asbisen commented on #140
FYI: quick test of using `replace` while looping over `stop_words` appears to be much faster than the existing `remove_pattern` method ~<2s vs ~940s.

[code]

[2019-04-12 05:34] Ayushk4 opened #143 "TokenBuffer for preprocessing Documents"
We have been using a [**fast** TokenBuffer API](https://github.com/JuliaText/WordTokenizers.jl/blob/master/src/words/fast.jl) to speed up for various tokenizers in WordTokenizers.jl.
Referring to #141 #140, I think it might be beneficial to extend the TokenBuffer API for Documents and Corpus that TextAnalysis.jl offers (excluding NGramDocument and TokenDocument).

[2019-04-18 22:59] ViralBShah opened #146 "Need API documentation"
I found the docs quite useful, but I couldn't find any using the command line `help` at the API level. It would be nice to have some documentation for the common functions at the very least.

[2019-04-26 11:41] Ayushk4 commented on #146
I have this as a part of my GSoC stretch goals. I will be happy to work on this, once I am done with my exams in a week.

[2019-04-26 15:06] laschuet commented on #146
If I am not mistaken, @aquatiko started adding the API documentation in #147. Maybe you can join forces.

[2019-04-26 16:00] Ayushk4 commented on #146
Sure! That would be great.

What do you think @aquatiko?

[2019-04-26 16:01] aquatiko commented on #146
Fine with me... We both are having exams in the coming days... Better finish it after that!!

[2019-04-26 16:07] Ayushk4 commented on #146
Cool ! Good Luck for your exams. :+1:

[2019-05-03 10:31] tanmaykm opened #149 "improper stemming of NGram documents"
Stemming a NGramDocument stems only the last word of each ngram. Notice below how `repository` is stemmed to `repositori` in one place but left intact in another.
[code]

While stemming a StringDocument stems each word:
[code]

[2019-05-09 08:33] Ayushk4 opened #152 "Extend Naive Bayes Classifier to support the various document types"
Would it be a decent idea to extend the recently added Naive Bayes Classifier to support the various document types that this package offers?

[2019-05-13 10:18] Ayushk4 opened #153 "Summarize function throws error for docs with less than 5 sentences."
Here's how to replicate the error

[code]

[2019-05-13 10:20] Ayushk4 commented on #153
This is an easy to solve bug, changing the following to check for `min` b/w `ns` and the number of sentences should fix this. https://github.com/JuliaText/TextAnalysis.jl/blob/3b046d2c205d1525b2acaf3c2f66b52ce69bfad5/src/summarizer.jl#L10

[2019-05-14 06:28] Ayushk4 commented on #74
I think a better way to solve this issue could be using a `TokenBuffer` which is currently used by the tokenizers in WordTokenizers.jl. ( #143 )

[2019-05-14 11:25] enkiv2 commented on #74
It sounds like this would be substantially faster than my patch, so I
approve :)

On Tue, May 14, 2019 at 2:28 AM Ayush Kaushal <notifications@github.com>
wrote:

[2019-05-15 12:16] #153 closed

[2019-05-23 00:47] ViralBShah commented on #105
yes

[2019-05-23 10:07] #146 closed

[2019-05-27 12:58] schottmueller opened #160 "BoundsError in sentiment analysis"
the following leads to a BoundsError

[code]
The Error message is:
[code]
Is this expected behavior?

[2019-07-03 18:44] GdMacmillan commented on #140
Not sure if my input is warranted but I just wanted to post a solution I found worked. However, this processes removes stop words from the return value of tokenize (using WordTokenizers)

[code]

I then apply it like:

[code]

I'm welcome to hearing improvements but this was fast and worked for my use case

[2019-10-03 05:41] Ayushk4 commented on #117
I guess this has been addressed by #167 .

[2019-10-03 08:34] #117 closed

[2019-10-04 14:48] tanmaykm opened #171 "UndefVarError when `prepare!` called on Corpus"
An UndefVarError is thrown when `prepare!` is called on a corpus with `strip_whitespace` option.

[code]
Looks like a typo (copy-paste related?) here: https://github.com/JuliaText/TextAnalysis.jl/blob/06e85ef52be4b64330211a578f39a259b86b7a33/src/preprocessing.jl#L417 introduced in https://github.com/JuliaText/TextAnalysis.jl/pull/141

[2019-10-05 11:50] aviks commented on #171
cc: @asbisen

[2019-10-06 16:15] #171 closed

[2019-12-06 06:16] Ayushk4 opened #174 "Extend the CRF api to support beyond just Linear Chain Conditional Random Fields."

[2019-12-06 06:18] Ayushk4 opened #175 "Update the NER and PoS APIs to let the users train models on custom data."

[2019-12-07 16:29] abhishalya opened #176 "SentimentAnalyzer on Amazon review dataset - Findings"
This issue is a part of [Google Code-in 2019 task](https://codein.withgoogle.com/dashboard/task-instances/5933648059039744/). As a part of the task I'm reporting my findings on running the pre-trained SentimentAnalyzer with the [Amazon review dataset](https://www.kaggle.com/bittlingmayer/amazonreviews) as requested.

I found the accuracy of the model to be 51.71916007215394 percent.

Also, I found

[2019-12-07 20:38] kimttfung opened #177 "Tag a new release"
Hello. I was just wondering whether a release can be tagged because the NaiveBayes Classifer is currently not implemented to the latest release (v0.6.0). Thank you very much.
@ranjanan

[2019-12-07 20:44] ranjanan commented on #177
@fungktt was trying to run code from the documentation: https://juliatext.github.io/TextAnalysis.jl/dev/classify/

[2019-12-08 05:29] ranjanan commented on #177
@fungktt could you please rename the issue to "Tag a new release" ?

[2019-12-08 05:47] Ayushk4 commented on #177
@fungktt For the time being you can work from the master branch `pkg> add TextAnalysis#master`, till the new release is tagged.

[2019-12-09 18:14] aviks opened #178 "Need to export Flux, Tracker"
TextAnalysis now needs to export the `Flux` and `Tracker` symbols. That should not be required.

Without those exports, loading the BSON models throws an error:

[code]

[2019-12-12 06:22] Ayushk4 commented on #178
This is being held up by - https://github.com/JuliaIO/BSON.jl/issues/52

[2019-12-12 06:23] Ayushk4 commented on #178
I am looking for some ways to bypass this bug.

[2019-12-25 13:42] Ayushk4 commented on #176
Related to #84.

[2020-01-10 07:46] Ayushk4 opened #182 "Docs and docstring for Sentiment Analysis model needs fixing"
The sentiment model [`docs`](https://juliatext.github.io/TextAnalysis.jl/latest/features/#Sentiment-Analyzer-1) and [`docstrings`](https://github.com/JuliaText/TextAnalysis.jl/blob/f11877268ba3911b30f7b13c549411a08cd380ad/src/sentiment.jl#L85) need minor fixing

`julia> model = SentimentAnalyser()`
`julia> model(doc)` or `julia> model(doc, handle_unknown)`

Thanks to @fungktt for pointing this out

[2020-01-10 08:18] fungktt commented on #182
Thanks! @Ayushk4

[2020-01-10 08:24] Ayushk4 opened #183 "Throw appropriate error for pad_sequence input of length > maxlen"
https://github.com/JuliaText/TextAnalysis.jl/blob/f11877268ba3911b30f7b13c549411a08cd380ad/src/sentiment.jl#L4

This function returns `nothing` in case the input length > maxlen.
It will be better to have a proper error handling and err message display for this.

[2020-01-10 08:25] Ayushk4 commented on #183
Thanks to @fungktt for pointing out the above.

[2020-01-15 09:18] fungktt opened #185 "Testing the efficiency of TextAnalysis.jl Sentiment Analysis models"
I used the pre-trained sentiment analysis model to analyse the [amazon reviews dataset](https://www.kaggle.com/bittlingmayer/amazonreviews).

However, some of the data is leads to BoundsError
`ERROR: BoundsError: attempt to access 32×5000 Array{Float32,2} at index [Base.Slice(Base.OneTo(32)), 5001]`

For those, I skipped and ignored them. Hence out of the 400000 sets of data, 399703 were interpret

[2020-01-15 09:21] fungktt commented on #185
Related to #160 #184

[2020-01-15 16:08] Ayushk4 commented on #182
Fixed in #184 .

[2020-01-15 16:08] #182 closed

[2020-01-17 14:59] PseudoCodeNerd opened #187 "Results of running SentimentAnalyzer() on Amazon Reviews Dataset."
## Background
Under Google Code-In, I used the sentiment analysis model in `TextAnalysis.jl` to analyse the [amazon reviews dataset.](https://www.kaggle.com/bittlingmayer/amazonreviews/kernels). I performed basic text pre-processing to increase the metrics of the model. Some tasks undertaken were:
- stemming words in each review
- removing corrupted characters
- removing definite and indefinite wo

[2020-01-19 09:12] Ayushk4 commented on #2
@aviks I think we can close this issue.
In #131, YashPatel implemented the avg perceptron POS Tagger.

Also, a neural network based POS tagger was added in #169 that gives >90% accuracy on CoNLL 2003, 2000, GMB. ([link](https://github.com/Ayushk4/POS.jl/tree/master/valid))

[2020-01-19 09:52] Ayushk4 opened #188 "Train the Avg Perceptron POS model till converged."
As of now, the Avg Perceptron POS model added in #131 gives ~60 per cent accuracy [on CoNLL 2003](https://github.com/Ayushk4/POS.jl/blob/master/valid/CoNLL.ipynb) which is decent for the 30+ classes it addresses. But still is low compared to claimed ~90% accuracy.

We can port weights from other libraries (depending on the licence permissions). Alternatively, we can train those.

But first, it wil

[2020-01-19 19:43] #2 closed

[2020-01-21 20:59] sean-gauss commented on #149
Is work still needed on this issue? @aviks

[2020-01-25 11:39] chinglamchoi opened #191 "SentimentAnalyzer on Amazon Reviews Dataset"
I used the Sentiment Analyzer model to perform binary classification on the [Amazon Reviews Dataset](https://www.kaggle.com/bittlingmayer/amazonreviews). Before training, I perform the following steps for pre-processing:
- truncate input at 500 chars
- strip stopwords
- strip corrupt utf8 chars (iso-8859-1 chars)
- stemming to root words

The following are inference results:
    Accuracy: 49.64325

[2020-01-26 17:53] PseudoCodeNerd opened #192 "NaiveBayesClassifier scope error."
[code]
and
[code]
The former snippet is a copy pasta from the [Docs](https://juliatext.github.io/TextAnalysis.jl/latest/classify/). I also tried enclosing it in a `let-end` loop but it still doesn't work.

I have `[a2db99b7] TextAnalysis v0.6.0` in my working environment.

This isn't the case with `model = SentimentAnalyser()`.

Any help would be appreciated.

[2020-01-30 18:41] tejasvaidhyadev commented on #188
Hi @Ayushk4
CorpusLoaders.jl APIs can not be directly used because of  datatype constraint input require in Avg Perceptron POS model. I think we can provide new methods in Avg Perceptron POS model or CorpusLoaders.jl to make them compatibile with each other.
As i was working with Pretrain weight `predict` function is returning missing values.(Accuracy on test set by CorpusLoder.jl  is 0.47(using P

[2020-02-03 18:37] vbaidin commented on #192
I have the same problem.

[2020-02-04 18:36] ValeriiBaidin opened #193 "rouge_n not defined"
rouge_n not defined, although an example uses it.

[2020-02-06 19:32] tejasvaidhyadev commented on #188
Hi @Ayushk4
The process is getting killed due to unknown reasons during training on the CoNLL dataset.
I am attaching [gist ](https://gist.github.com/tejasvaidhyadev/01ea565ee8807a59c672866e4057c360)file of code used (Sorry, code is little messy)
I will be updating the status soon

[2020-02-09 07:52] Ayushk4 commented on #188
Hi, sorry for the late response.

Can you upload the code as notebook format, or fix the indentation in gistfile to make the code more readable?

[2020-02-09 07:56] Ayushk4 commented on #188
It will be great if you could also share the notebook used for measuring the performance of Avg. Preceptoron tagger on CoNLL and specify which CoNLL dataset you used?

I personally like the idea of writing new APIs to handle different data types and documents that TextAnalysis.jl provides.
Feel free to open an issue (or better yet send a PR) for the same.

[2020-02-10 11:28] tejasvaidhyadev commented on #188
[Updated gist](https://gist.github.com/tejasvaidhyadev/01ea565ee8807a59c672866e4057c360) with comments and I will soon upload the Notebook used for measuring the performance of Avg. Preceptoron tagger on CoNLL `Test`(set)
Should I add API in `TextAnalysis.jl` or `CorpusLoaders.jl`?

[2020-02-10 16:15] Ayushk4 commented on #188
For CoNLL and dataset related APIs, they go to CorpusLoaders.jl.

For perception tagger related APIs supporting new inputs, they go to TextAnalysis.jl.

[2020-02-10 18:10] janghaludu commented on #192
It should work if you install the master branch.
pkg> add TextAnalysis#master  should do the trick.

[2020-02-10 18:23] #192 closed

[2020-02-11 08:34] tejasvaidhyadev opened #195 "APIs to avoid datatype constraint between CorpusLoaders.jl and TextAnalysis.jl"
`CorpusLoaders.jl` APIs can not be directly used because of datatype constraint input require in Avg Perceptron POS  and other models . I think we can provide new methods in Avg Perceptron POS model to make it compatible with `CorpusLoaders.jl`.

[2020-02-11 12:50] Ayushk4 commented on #195
Can you give an example/code snippet on what you expect and what changes you suggest? I am not able to get what changes you are trying to propose to TextAnalysis.jl? Though from what you say here, it seems that these changes would be better made to CorpusLoaders.jl rather than this package.

[2020-03-02 14:35] Ayushk4 opened #196 "Add entry for ULMFiT in docs/make.jl"
Documentation for ULMFiT has been added, in `docs/src`. But, docs/make.jl needs to be updated for the same.

It should be an easy one-liner to fix this issue.
Also, an update to [NEWS.md](https://github.com/JuliaText/TextAnalysis.jl/blob/master/NEWS.md) for ULMFiT would be nice.

[2020-03-02 15:56] Ayushk4 opened #197 "Is it useful to have String Interning for Document Metadata?"

[2020-03-13 09:25] tejasvaidhyadev opened #200 "Termination of Process during training of avg perceptron pos tagger"
During Training on CoNLL 2003 Dataset (with around 203k POS tagged word ) the program is getting terminated. Probably because of excessive memory allocation.

Working on Better implementation

Training code can be found [here](https://gist.github.com/tejasvaidhyadev/01ea565ee8807a59c672866e4057c360)

[2020-03-17 23:03] vbaidin opened #201 "ngrams(sd, 2, 3) doesn't work"
The documentation says about function ngrams(sd, 2, 3), but unfortunately, it doesn't exist.

Thank you in advance.

[2020-03-29 02:54] aquatiko commented on #201
There seems to be something defined for this in the APIs to handle this kind of input and use-case. But something seems wrong as it isn't working. Needs more debugging.
https://github.com/JuliaText/TextAnalysis.jl/blob/1733f3409ceaedd5ced283e2f999485e8e67cd0c/src/document.jl#L312

[2020-03-29 03:00] aquatiko opened #202 "Unexpected behaviour of ngram(sd, 3)"
I was expecting a Dict of trigrams upon calling this as mentioned in the docs. But I'm getting unigrams, bigrams and trigrams.

[code]
Fixing this can help solve #201 next.

[2020-03-29 03:46] Ayushk4 commented on #202
Are you working off of master branch?

[2020-03-29 04:04] aquatiko commented on #202
Yes. Is that frozen for a dev branch?

[2020-03-29 04:27] aquatiko commented on #202
It seems that I was not synced with the latest version of TextAnalysis.
I recently did a clean build of julia to 1.4.0 and used
[code]
but this dosen't seem to install the version we see on the repo. (maybe the registry needs to be updated). But after cloning it from source,
[code]
this error seems to be gone. So do #201 and #193

[2020-03-29 04:32] aquatiko commented on #202
I'm closing this. #201 and #193 can be closed too.
But this needs to be looked at for this behavior.

Thanks for the tip @Ayushk4  :)

[2020-03-29 04:32] #202 closed

[2020-03-29 04:37] Ayushk4 commented on #202
Yes, we need to tag a new release for the package. Its been over a year since the last release. The release is waiting due to #180 . I will try to get that done in a week. Thanks.

[2020-04-01 19:34] ViralBShah opened #204 "Provide libstemmer through Yggdrasil"
It would be nice to move this package to using artifacts to provide libstemmer.

[2020-04-05 23:06] VasylHafych opened #205 ""resulting" bug"
Hi! I discovered a bug while playing with  `SentimentAnalyzer `

[code]
Here is my error message:

[code]
I used a text with `10^7` symbols and the word "resulting" is the only one that crashed process.

[2020-04-13 15:46] tejasvaidhyadev commented on #205
Hi @VasylHafych,
Thanks for pointing out.
I think there is some error in implementation of `SentimentAnalyzer`
In file sentiment_weights we are having having 32×5000 matrices with index-1 is default `pad` token embedding
But here
in **src/sentiment.jl**
`if ele in keys(rwi) && rwi[ele] <= ( size(weight[:embedding_1]["embedding_1"]["embeddings:0"])[2] )  # there are only 5000 unique embeddings` - w

[2020-04-22 21:21] ViralBShah commented on #204
@aviks Is there someone in here who might be interested in this one?

[2020-04-22 21:25] aviks commented on #204
There is already a  Snowball_jll and a Snowball.jl.  It's not yet integrated with the larger textanalysis package, but that should be simple. I'm just waiting for some other reorganisation in this package to happen first.

[2020-04-23 09:32] tejasvaidhyadev opened #207 "Statistical tokenization algorithms"
Hi @aviks and @Oxinabox
**Statical tokenizers** are used in lot of **Transformer based models** including BERT family becasue of their ablity to tackle out of vocabulary problem.
After going through Tokenizers in `WordTokenizers.jl` which i think is pretty good and fast and it will be great if we can **built statical tokenizers** like BPE, unigram language models etc.  on top of it.
I have gone th

[2020-04-23 09:36] tejasvaidhyadev commented on #195
I am closing the issue. I think it will be too specific if we do it here

[2020-04-23 09:36] #195 closed

[2020-04-23 09:57] aviks commented on #207
I think this should go into the WordTokenizers.jl. Unless there are big new dependencies, in which case they should probably go in its own package.

[2020-04-23 10:22] oxinabox commented on #207
Closing in favor of
https://github.com/JuliaText/WordTokenizers.jl/issues/44

[2020-04-23 10:22] #207 closed

[2020-04-23 11:57] tejasvaidhyadev commented on #205
I think we can close the PR now

[2020-04-24 12:11] tejasvaidhyadev opened #208 "update to Zygote"
update to Flux@0.10.0 with Zygote

[2020-06-02 05:05] ValeriiBaidin opened #211 "is it possible to remove rarely words."
Good day.

Is it possible to remove words, which enter only in less than N documents?

Thank you in advance.

[2020-06-02 05:10] ValeriiBaidin opened #212 "error strip_spares_terms not defined"
I was following the  documentation and found the error:
`strip_spares_terms not defined`

[2020-06-12 18:12] tejasvaidhyadev commented on #212
Are you working on `master` branch ?
Can you share more detail about error ?

[2020-06-12 18:17] tejasvaidhyadev commented on #211
Hi,
you can Checkout Vocabulary.jl in #210
soon it will be part of TextAnalysis as well :smiley:

[2020-06-18 01:12] ViralBShah commented on #204
Bump on this.

[2020-07-08 11:48] #205 closed

[2020-07-08 11:50] #196 closed

[2020-07-24 15:00] bnriiitb commented on #183
@Ayushk4 still some work needed on this?

[2020-07-24 15:09] bnriiitb commented on #149
@aviks  is this issue fixed or still help needed?

[2020-07-24 15:38] Ayushk4 commented on #183
I am currently waiting for a response from @sean-gauss , since they already sent a PR.

But, a PR is welcome for fixing this.

[2020-07-24 17:27] sean-gauss commented on #149
I intended to finish this, however, at the moment I am a bit busy with my internship. If you can resolve this issue you can freely proceed.

[2020-07-25 08:46] mitrabhanu opened #214 "Julia TextAnalysis NERTagger"
Julia TextAnalysis NERTagger is not working. I have followed documentation at https://juliatext.github.io/TextAnalysis.jl/dev/ner/

I have julia version 1.4.0.
I have added TextAnalysis Package using
    Pkg.add("TextAnalysis")
I then tried Nertagger using command
    ner = NERTagger()
But I get the below error
    ERROR: UndefVarError: NERTagger not defined

Please help.

[2020-07-30 17:55] ym-han commented on #111
As an end user, I'd be really interested in having the ability to use state of the art neural dependency and constituency parsing models (e.g. Stanza's) from TextModels.jl.

[2020-07-31 08:27] Ayushk4 commented on #111
We currently have NER and POS neural models (>90% accuracy on CoNLL'03) in TextAnalysis.jl#master.Docs - https://juliatext.github.io/TextAnalysis.jl/latest

[2020-07-31 08:29] Ayushk4 commented on #111
WordTokenizers.jl has a bunch of high speed tokenizers, a sentence segmentor and recently SentencePiece Tokenizer.

[2020-07-31 14:51] ym-han commented on #111
Thanks @ayush1999 , I wasn't aware that the accuracy was that good! For the particular project I'm currently working on, though, I need the best possible accuracy; or at least, I need to be able to show my higher-ups that the models are close enough to the models we'd otherwise use (stanza's). Do you have specific benchmarks for the models (in particular, the POS one)? Similarly, I'd be interested

[2020-07-31 15:04] Ayushk4 commented on #111
If by neural models for tokenizing you mean statistical tokenizers, then those are available in WordTokenizers.jl (sentence piece), transformers.jl (Word piece and BPE). I am not aware of any neural model for tokenizing English language.

It would be nice to have access to stanza's models as well in Julia. A simple wrapper could be easy to make using pycall.

I don't have performances for POS but

[2020-07-31 15:34] ym-han commented on #111
Thanks Ayush!!!! This is really helpful

On Fri, Jul 31, 2020, 11:05 AM Ayush Kaushal <notifications@github.com>
wrote:

[2020-08-01 06:21] ym-han commented on #111
Just a quick final question: how much work do you think it might be for me to somehow pipe the stanza models for dependency parsing, pos tagging, etc into the juliatext interface? Pycall's going to be involved, of course, but I don't have a good sense right now for how much work it will be to wrap the models with the julia text interface (or whether it's worth it).

[2020-08-01 06:36] Ayushk4 commented on #111
TBH, I am not very familiar with either stanza or packaging with PyCall. Typically it is very easy to execute python code in Julia via PyCall.

[2020-08-01 14:18] ym-han commented on #111
What about integrating the models with the julia text interface, though --- will that be easy?

I've been trying out pycall with spacy-stanza (https://github.com/explosion/spacy-stanza), and it looks like it will take some work to get slicing to work with the syntax one would expect.

[2020-08-14 14:49] hhaensel opened #215 "Implementation of cosine similarity?"
I needed the calculation of cosine similarity. My first attempt was a bare implementation of a wikpedia article. But I found out, that this was not as fast as desired (approx. 60s).
Finally, I found a way to improve speed by three orders of magnitude by applying a matrix algorithm. If I did my maths correctly, the following function does the job:

[code]

In case that some people find it useful, I

[2020-08-18 03:15] agarie opened #216 "Trying to use NaiveBayesClassifier results in UndefVarError"
I'm trying to run the `NaiveBayesClassifier` example code from the documentation:

[code]

I'm on macOS 10.15.6 running Julia 1.5.0 installed via Homebrew.

[2020-08-20 23:51] #216 closed

[2020-08-25 07:31] tejasvaidhyadev commented on #214
try adding `master` branch of TextAnalysis

[2020-08-26 19:34] tejasvaidhyadev opened #218 "Implementation of ROBERT on top of Transformers and Flux"
- This implementation is the same as `Transformers.Bert` with a tiny embeddings tweaks.
- [RoBERTa](https://arxiv.org/abs/1907.11692) has the same architecture as BERT, but uses a byte-level BPE(implemented in `BPE.jl`) as a tokenizer (same as GPT-2) and uses a different pre-training scheme.
- RoBERTa doesn’t have token_type_ids, you don’t need to indicate which token belongs to which segment. Jus

[2020-09-02 02:00] ViralBShah commented on #204
This is now one of the last major packages that does not yet use artifacts.

[2020-09-02 16:02] #152 closed

[2020-09-04 08:49] #178 closed

[2020-11-01 21:37] JuliaTagBot opened #235 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

[2020-11-01 21:37] #235 closed

[2020-11-02 15:07] aviks commented on #214
This feature is now in TextModels.jl

[2020-11-02 15:07] #214 closed

[2020-11-02 15:10] aviks commented on #191
@chinglamchoi do you have the code for this exercise available somewhere?

[2020-11-02 15:11] aviks commented on #215
Will be very useful, please submit a PR, preferably with some tests and docs.

[2020-11-02 15:12] aviks commented on #204
v0.7.0 uses a jll.

[2020-11-02 15:12] #204 closed

[2020-11-02 15:13] aviks commented on #177
tagged now.

[2020-11-02 15:13] #177 closed

[2020-11-02 15:14] aviks commented on #111
models have been moved to  [TextModels.jl](https://github.com/JuliaText/TextModels.jl)

[2020-11-02 15:15] #111 closed

[2020-11-03 10:27] chinglamchoi commented on #191
Yes here it is: https://github.com/chinglamchoi/GCI_With_Julia/tree/master/Machine_Learning/sentiment_analysis

Due to time limitations of GCI, I believe the reported accuracy values in the issue were between sklearn and TextAnalysis.jl at 4000 and <4000 epochs respectively (not enough time to train). Sklearn achieved higher accuracies than 0.4647 with >4000 training samples.

[2020-11-06 07:16] tk3369 opened #236 "Unable to convert corpus to DataFrame"
[code]

Maybe it's old code that got broken from Julia 1.0?
https://github.com/JuliaText/TextAnalysis.jl/blob/1cb2fd71cc38988db19be7b2d8f7543d4b4bdcb8/src/corpus.jl#L93-L98

I believe it should be
[code]

[2020-11-08 21:01] #236 closed

[2020-11-16 06:03] gxyd commented on #201
I think this seems to be working, or do we need to document a little more of the meaning of `ngrams(sd::AbstractDocument, n::Integer...)` in case of passing of multiple integers?

[2020-12-01 16:25] julbinb opened #242 "Eval can be replaced by getfield in tag_scheme!"
`getfield` would be more efficient than `eval` in getting the value of a variable/function name here:

https://github.com/JuliaText/TextAnalysis.jl/blob/dd67dcff6fe5444a4cbe9f244961cb97ff9c4a65/src/tagging_schemes.jl#L50-L51

Toy example:

[code]

[2020-12-01 16:48] aviks commented on #242
Thanks, yes, this code if probably from before `getfield` existed. I'd be grateful for a PR.

[2020-12-01 17:02] julbinb commented on #242
Ok, will do :)

[2020-12-11 15:11] tanmaykm opened #243 "Methods to merge two DocumentTermMatrix instances"
I am trying to implement incremental updates to a tf_idf matrix built from a corpus. There may also be a need to remove  certain documents / terms from the matrix. Manipulating at the document term matrix seems to be an efficient way to do that (compared to starting from the corpus).

So, seems like creating a small incremental document term matrix with new documents and merging it with the previo

[2020-12-11 21:34] aviks commented on #243
I haven't put much thought into this, but it seems that if we keep the same lexicon, merging the DTMs is a matter of adding the matrices... is that right? There should be a way of generating the DTM with a specified lexicon. If we want to add new words to the lexicon from the incremental corupus, things get  more complex.

[2020-12-15 15:30] #243 closed

[2021-01-06 13:57] hhaensel commented on #215
@aviks Where's the best location to put it, `utils.jl` or `tf_idf.jl` or shall I include a new file `similarity.jl`?

[2021-01-06 14:01] aviks commented on #215
Tf-idf.jl would be best, I think

[2021-03-22 11:46] chuchuHank opened #249 "Seems there are some typos in documents"
In the document Preprocessing Documents section:
https://juliahub.com/docs/TextAnalysis/5Mwet/0.7.2/documents/#Preprocessing-Documents

In line 384,
prepare!(sd, strip_preposition) do not work but prepare!(sd, strip_prepositions) work.

In line 389,
prepare!(sd, strip_spares_terms) do not work but prepare!(sd, strip_sparse_terms) work.

[2021-04-01 02:59] DilumAluthge opened #252 "CI is failing on the latest Julia master"
Looks like the `Base.write_sub` function is no longer available on the latest Julia master?

See e.g. https://github.com/JuliaText/TextAnalysis.jl/pull/251/checks?check_run_id=2242561742 (triggered by https://github.com/JuliaText/TextAnalysis.jl/pull/251):
[code]

[2021-04-05 19:47] #252 closed

[2021-04-26 19:54] alexzandros opened #255 "StringIndexError when trying to create a StringDocument based on a UTF8 string"
I'm trying to create a StringDocument based on a string that contains utf-8 characters, and all i'm getting is a `StringIndexError`

My code is as follows
[code]
And I get the following error
[code]
Followed by a stack trace.

So, I need to know what is the best practice for working with utf strings.

Thanks in advance.

[2021-05-05 11:41] aviks commented on #255
Can you paste the stack trace you saw? Looks like a bug on our side.

[2021-08-12 14:47] jfb-h opened #258 "PCRE compilation error: regular expression is too large at offset 592769"
Upon trying to remove sparse terms from a corpus via

[code]
I run into the following error message:

[code]

Is this a bug or might this just mean there is something wrong with one of the documents? That might be a possibility as I'm dealing with patents which can get pretty messy.

I'm on Julia 1.6.1 and TextAnalysis v0.7.3.

[2021-08-18 20:45] aviks commented on #258
Might well be a bug. Are the documents you use public? If so, would you be able to provide an example that fails?

[2021-08-31 03:22] ablaom opened #259 "Remove restriction in TokenDocument that tokens be abstract strings?"
Would be nice to include the case that tokens are `CorpusLoaders.TaggedWord`, for example.

cc @aviks

[2021-08-31 04:59] ablaom commented on #259
cc @pazzo83

[2021-12-24 23:19] truedichotomy opened #260 "Dependence on BinaryProvider.jl prevents TextAnalysis from working on arm64-apple-darwin natively."
BinaryProvider has not been updated for arm64-apple-darwin. This prevents TextAnalysis from working natively on Apple Silicon macs as well.

[2022-02-16 21:22] mostol commented on #149
Hi! I think I figured out what's going on here. It comes down to the `stem` function in [line 38](https://github.com/JuliaText/TextAnalysis.jl/blob/a38d8d70e9588c77b889c52b8f1f623920e34630/src/stemmer.jl#L38) of `stemmer.jl` below, which stems the n-gram (`token`), resulting in its stemmed version (`new_token`):

https://github.com/JuliaText/TextAnalysis.jl/blob/a38d8d70e9588c77b889c52b8f1f623920e

[2022-02-18 02:08] mostol opened #261 "Alter `NGramDocument`s' n-grams to consist of vectors of tokens or be handled like string docs?"
I was looking into https://github.com/JuliaText/TextAnalysis.jl/issues/149 and realized that the underlying problem is an assumption that `NGramDocument`s' n-grams are made up of individual tokens, but each n-gram is actually just a single, regular string (hence the unexpected stemming behavior).

It might be worth considering altering `NGramDocument` to contain vectors of strings (i.e. tokens) or

[2022-03-16 22:34] LarsWl opened #262 "PerceptronTagger is not defined"
I try do some pos tagging, but module PerceptronTagger is not defined. There is error:
[code]

   I tried to find definition in code, there is only export in main module and usage in tag_pos! (also raise same error)

[2022-03-19 10:42] LarsWl commented on #262
There is PerceptronTagger in TextModels.jl

[2022-03-19 10:42] #262 closed

[2022-06-21 06:41] segunolulana commented on #255
I also experienced the same issue. The text in question is "Less likely working with code I don’t like" and the stacktrace is

[2022-07-22 02:52] krishpa2 opened #263 "Libstemmer not defined for ARM (M1 Mac)"
Computer: M1 MacBook Pro

I installed the experimental 1.8.0-rc3 version of Julia in order to get native ARM support. I added every package I needed without errors except for TextAnalysis.jl. I have a small preprocessing file that cleans a document using standard NLP preprocessing (such as stemming, stop word removal, etc.), yet it throws an error when the stemming portion is called.

I believe th

[2022-08-16 16:14] aviks commented on #263
Yeah, libstemmer needs to be recompiled in Yggdrasil for the ARM mac. https://github.com/JuliaPackaging/Yggdrasil/blob/master/S/Snowball/build_tarballs.jl

[2022-08-16 19:24] aviks commented on #263
https://github.com/JuliaPackaging/Yggdrasil/pull/5321

[2022-08-20 13:10] aviks commented on #263
if you update your environment, this should now be fixed.

[2022-08-20 13:10] #263 closed